body,
html {
  background-color: rgb(52, 51, 51);
}
.search-bar {
  margin: 5px;
}

.ui.segment:first-child {
  margin-top: 10px;
  background-color: #e21212;
}
.video-item {
  background-color: #e21212;
  border-radius: 0.28571429rem;
  margin: 3px;
}
.ui.segment:last-child {
  background-color: #e21212;
}
.ui.segment {
  padding: 1.8em 1em;
}
